body {
  background: #678456;
}

h1,
p {
  text-align: center;
}
div a {
  padding: 10px;
  color: antiquewhite;
  font-size: medium;
  display: block;
  margin: 0 auto;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}
